body {
      align: left;
             background-color: #e7e0e0;
             }
button,input { background-color: #ffffee; }
form {
      margin-left: 40%; width: 30%;
                   border: 2px solid;
                   background-color: #e7e0e0;
                   //margin: 20px;
                   padding: 20px;
            }

hr {
   width: 30% !important;
   text-align: left !important;
}

input { border: 1px inset; }
table {
       width: 30%;       
       border: 1px solid;
       float: left;
               }
th,td {
       border: 1px inset;
               }
th {
    background-color: #ffffee;
/*/#c0c0b0; */
}
