body {
    background-color: #e7e0e0;
}

/* These 3 lines set layout */
#wrap { width: 600px; }
#right_col { float: right; width: 300px; }
#left_col  { float: left;  width: 300px; }

iframe { margin-left: 10px;}

table { width: 300px;
	border: 1px solid;
	margin-top: 10px;
	}
form {
    border: 1px solid;
    background-color: #e7e0e0;
    margin-top: 10px;
    margin-left:15px;
    padding: 10px;
}

input {width: 60px; }
a,button,label,select,.button { width: 120px; }
button { background-color: #ffffee; width: 120px; }
select,input[type="submit"] {
    display: inline-block;
    background-color: #c7c0b0;
    margin-top:8px; margin-left: 6px;
    border:1px solid;
}
input { border: 1px inset; }
label { border: 1px insert;  margin-top: 8px;
	display: inline-block;margin-left:8px;
        font-weight: 900;
	text-align: right;
      }

th,td { border: 1px inset; }
th { background-color: #d0d0c0; }

/*
.tsum,.tentry { text-align: right; width: 50px;
*/
