:root{
    --lcolw: 395px;
    --rcolw: 380px;
    --wrapw: 775px; /* Max is 960px for 2 columns HD */
    --cntrlw: 8em;
    --bgcolor: #e7e0e0;
    --textcolor: black;
}

body { background-color: var(--bgcolor); }
#big-charts { background-color: var(--bgcolor); color: var(--textcolor) ;}

/* These 3 lines set layout */
#wrap { width: var(--wrapw); }
#left_col  { float: left;  width: var(--lcolw); }
#right_col { float: right; width: var(--rcolw); }

#daily_time { 
    margin-top: 10px;
    border: 1px dotted; }

.svg { border: 1px dotted; }
#ins_times { margin-top: 20px; }
iframe { margin-left: 10px;}

table { width: 300px;
	border: 1px solid;
	margin-top: 10px;
	margin-left: 35px;
      }



caption, caption a:visited {
    background-color: #8f7f00;
    color: yellow;
    font-weight: bold;
}

form {
    border: 1px solid;
    background-color: #e7e0e0;
    margin-top: 10px;
    margin-left:15px;
    padding: 10px;
}
/* -------------- Crud form -----------------------------*/
#crud_table { margin-left: 0px; width: 30em; layout: fixed; }
#crud_form { width: 30em; }
#add_button { width: 3em; position: relative; right: 4em;}
/* #dur,#start,#cat,#act { width:7em; } */
#thesel,.sel_col, #save { width: 4em; column-width: 4em;  }
#start_col,#dur_col,.duration { column-width: 25px; width: 4em; }
#thcat { column-width: 8em; } #cat { width: 8em; }
#act_col { column-width: 12em; }
/* */

input {width: 60px; }
input .local-time { width: 120px;}
input[type=date] {
    width: 10em; background-color: #ffffee;
}
#stime,.form-link,button,label,select,.button {
    margin-right: 15px;
    width: var(--cntrlw); }
button { background-color: #cec792; width: 120px; }
select,input[type="submit"] {
    display: inline-block;
    background-color: #c7c0b0;
    margin-top:8px; margin-left: 6px;
    border:1px solid;
}
input { border: 1px inset; }
label { border: 1px insert;    margin-top: 8px;
	display: inline-block; margin-left:8px;
        font-weight: 900;
	text-align: right;
      }

th,td { border: 1px inset; vertical-align:bottom; }
th { background-color: #d0d0c0; }

#ttotal {
    text-align: center;
    font-weight: 500;
    
}

.big-svg    { width: 33%; }
.bigger-svg { width: 64%; }
.text {
    display: block;
}
